*{
    padding:0;
    margin:0;
}
.container{
    background-color:rgb(31, 31, 31);
    width:1070px;
    height:2200px;
    position:relative;
}
.header{
    display:flex;
    justify-content: space-between;
    color:white;
    position:sticky;
    top:0;
    cursor:pointer;
}
.nav-bar{
    display:flex;
}
.nav-item{
    margin-left:20px;
    margin-top:10px;
    font-size:10px;
    line-height:30px;
}
.nav-item:hover{
    color:red;
}
.right{
    margin-right:60px;
}
.nav-icon{
    margin-right:10px;
    margin-top:10px;
}
.nav-icon:hover{
    color:red;
}
select{
    border-style:none;
    margin-top:12px;
    background-color:transparent;
    color:white;
    font-size:10px;
}
select:hover{
    color:red;
}
#home{
    font-size:20px;
    margin-top:8px;
    margin-right:10px;
}
#search{
    font-size:20px;
    margin-top:8px;
    margin-right:10px;
}
.mylist{
    color:red;
}
.title_first, .title_second{
    color:white;
}
.small-item{
    color:white;
}
#img{
    display:block;
    transition-duration:1s;
    position:relative;
}
.small-item{
    display:none;
    position:absolute;
    color:white;
    width:200px;
    height:100px;
    transition-duration:0.5s;
    opacity:0.6;
}
#img:hover ~ .small-item{
    display:block;
    background-color:black;
    text-align:left;
    margin-top:-100px;
    cursor:pointer;
}
.owl-wrapper{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows:100px 100px ;
    column-gap:10px;
    row-gap:10px;
    margin-top:20px;
}
.content{
    margin-top:20px;
    margin-left: 20px;
}
p, .material-symbols-outlined{
    font-size:12px;
    margin-top:10px;
    margin-left:10px;
}


